<a href="https://colab.research.google.com/github/pablex72/challenge-101-numpy-exercises-python/blob/main/practicing_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Exercise 1: Print First 10 natural numbers using while loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
  print(i,end="")

12345678910

In [ ]:
#with while
i = 1
while i <= 10:
    print(i)
    i += 1

In [ ]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

for i in range(1,6)
  for

In [8]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5